@tailwind base;
@tailwind components;
@tailwind utilities;

table{
  border-collapse: collapse;
}
table, td {
  border: 1px solid gray
}
td {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}